.question-root {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  text-align: center;
  color: white;
  padding: 250px 100px 0 100px;
}

.question-text {
  font-size: 1.5em;
  line-height: 3rem;
  padding: 50px;
}

@media only screen and (max-width: 992px) {
  .question-text {
    font-size: 1rem;
    line-height: 2rem;
    padding: 25px;
  }
}

@media only screen and (max-width: 992px) {
  .question-root  {
    padding: 40px 25px 0 25px;
  }
}
