div.tooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  min-height: 28px;
  padding: 4px;
  font: 18px sans-serif;
  background: rgb(36, 34, 34);
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
