.landing-root {
  background: #0f2027; /* fallback for old browsers */
  background-image: url("../../assets/earth.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: white;
  padding: 250px 100px 0 100px;
}

.landing-text {
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 50px;
}

@media only screen and (max-width: 992px) {
  .landing-text {
    font-size: 1rem;
    line-height: 2rem;
    padding: 25px;
  }
}

@media only screen and (max-width: 992px) {
  .landing-root  {
    padding: 40px 25px 0 25px;
  }
}
